  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 21px -5px #cdd1e1;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 21px 12px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    font-weight: 400;
  }

  .logo {
    width: 38px;
    aspect-ratio: 1.22;
    object-fit: contain;
  }

  .company-name {
    font-family: Nunito, sans-serif;
    white-space: nowrap;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 38px;
    background-color: #fff;
  }

  .hero-image {
    width: 131px;
    max-width: 100%;
    aspect-ratio: 2.17;
    object-fit: contain;
  }

  @media (max-width: 991px) {
    .header {
      max-width: 100%;
    }

    .logo-container {
      padding-right: 20px;
      white-space: initial;
    }

    .image-container {
      max-width: 100%;
      padding: 0 20px;
    }
  }

  .sidebar {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #6c7383;
    font-weight: 500;
    line-height: 100%;
    padding: 23px 16px 80px;
    margin-top: 4px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
  }

  .home-link {
    border-radius: 8px;
    background-color: #5ac0ab;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #fff;
    justify-content: center;
  }

  .home-link-inner {
    border-radius: 8px;
    background-color: #5ac0ab;
    display: flex;
    gap: 0;
    padding: 13px 16px;
  }

  .icon {
    width: 20px;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
  }

  .link-text {
    font-family: Nunito, sans-serif;
    margin: auto 0;
  }

  .nav-item {
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    gap: 20px;
    padding: 13px 24px 13px 16px;
    margin-top: 4px;
  }

  .nav-item-inner {
    display: flex;
    gap: 20px;
  }

  .arrow-icon {
    width: 11px;
    aspect-ratio: 1.1;
    object-fit: auto;
    object-position: center;
    margin: auto 0;
  }

  .collaborators-item {
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    gap: 18px;
    padding: 13px 24px 13px 16px;
    margin-top: 6px;
  }

  .collaborators-item-inner {
    display: flex;
    gap: 0;
  }

  .collaborators-icon {
    width: 32px;
    aspect-ratio: 1.89;
    object-fit: auto;
    object-position: center;
  }

  .collaborators-text {
    font-family: Nunito, sans-serif;
    max-width: 156px;
  }

  .account-settings {
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 13px 17px 13px 16px;
  }

  .account-settings-icon {
    width: 32px;
    aspect-ratio: 1.89;
    object-fit: auto;
    object-position: center;
    align-self: stretch;
  }

  .account-settings-text {
    font-family: Nunito, sans-serif;
    align-self: stretch;
    margin: auto 0;
  }

  .logout {
    display: flex;
    border-radius: 8px;
    gap: 0;
    padding: 13px 16px;
  }

  .logout-icon {
    width: 32px;
    aspect-ratio: 1.89;
    object-fit: auto;
    object-position: center;
  }

  .logout-text {
    font-family: Nunito, sans-serif;
    max-width: 156px;
    margin: auto 0;
  }

  @media (max-width: 991px) {
    .home-link,
    .home-link-inner,
    .nav-item-inner,
    .collaborators-item-inner {
      white-space: initial;
    }

    .nav-item,
    .collaborators-item {
      padding-right: 20px;
    }
  }